mlflow
ipython
ipywidgets
numpy
pandas
seaborn
hyperopt
xgboost
lightgbm
catboost
jupyter
matplotlib
scikit-learn
imbalanced_learn
shap
boto3
fastparquet
graphviz
prefect
tqdm
requests
joblib
pyarrow
psycopg
psycopg_binary
evidently
pylint
flask
ydata_profiling==4.7.0









